body {
    background-color: D4C8FF;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	color: 4D3E7F;
}

#inner {
	font-family: Tahoma, Geneva, sans-serif;
	text-align: left;
	color: 4D3E7F;
	width: 1000px;
	overflow: auto;
}

#centered {
	font-family: Tahoma, Geneva, sans-serif;
	color: 4D3E7F;
	width: 600px;
	overflow: auto;

}