/* 
// Name: Alana Huszar
// Course: CSC 415
// Semester: Fall 2014
// Instructor: Dr. Pulimood 
// Project name: Pargameters
// Description: Returns playable games based on user given parameters
// Filename: style.css
// Description: Stylesheet dictating layout preferences for the application.
// Last modified on: December 1, 2014
*/

body {
    background-color: D4C8FF;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	color: 4D3E7F;
}

#inner {
	font-family: Tahoma, Geneva, sans-serif;
	text-align: left;
	color: 4D3E7F;
	width: 1000px;
	overflow: auto;
}

.centered {
	font-family: Tahoma, Geneva, sans-serif;
	color: 4D3E7F;
	max-width: 700px;
	text-align: left;
	width: 100%;
	margin: 25px auto;
	overflow: auto;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

table#t01 tr:nth-child(even) {
    background-color: #997BFF;
	color: #D4C8FF;
}

table#t01 tr:nth-child(odd) {
   background-color:#7A62CC;
   color: #D4C8FF;
}

table#t01 th	{
    background-color: #4D3E7F;
    color: #D4C8FF;
}